.container{
    text-align:center;
    margin-top: 50px;
}

table{
    margin: auto;
    background:black;
    border-radius: 5px;
}

input{
    border-radius: 5px;
    border: 1pt solid rgb(69, 69, 69);
    width:450px;
    padding:23px 10px;
    background: rgb(39, 39, 39);
    color: white;
    font-size:20px;
}

button{
    font-size: 23px;
    background: rgb(233, 103, 42);
    width: 110px;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    color:white;
    margin:1px;
}